html,
body {
  box-sizing: border-box;
}
.navbar {
  padding: 1rem;
  background-color: #ebebeb;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}
.navbar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 500px) {
  .navbar div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .balance-container {
    transform: scale(0.8);
  }
  .main-container {
 /*    width: 100% !important; */
    justify-content: flex-start !important;
  }

  .navbar-brand {
    font-size: 1.3rem;
  }

  .box p {
    font-size: 0.7rem;
  }
}

.main-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  background: #ebebeb;
  border-radius: 5px;
  margin-bottom: 5rem;
}

.balance-container {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-between;
}
.v-divider {
  height: auto;
  top: 0;
  position: relative;
  border: 1px solid rgb(77, 75, 75);
}
.right-side {
  flex: 0.5;
  margin-left: 1rem;
}
.left-side {
  flex: 0.5;
  margin-right: 1rem;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
}
h2 {
  margin: 0.5rem;
  font-size: 1.9rem;
}
h3 {
  margin: 0.5rem;
  font-size: 1.7rem;
}

h4 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.item-group {
  margin-bottom: 1rem;

  text-align: center;
  border-bottom: 1px dashed #727272;
}
.group-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item p {
  margin: 0 0.5rem 1rem 0.5rem;
}
.item p:last-child {
  color: red;
}

.group-header .money-span {
  text-decoration: none;
  color: red;
}
.item-enun {
  justify-content: flex-start !important;
  align-items: center;
  text-align: left;
  width: 100%;
}
.item-enun::before {
  content: "·";
  transform: translate(0, -20%);
  font-size: 2rem;
  font-weight: bold;
}
/* .money2{
    color: #4d4c4c!important;
} */

.total {
  color: green;
  font-size: 2.2rem;
  text-align: center;
  justify-self: end;
  margin: 0 auto;
  margin-top: 4rem;
}

.button-group {
  margin: 1rem;
  align-self: flex-end;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.box {
  background: #d2d2d2;
  width: 35%;
  height: 50vh;
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black;
}

.box:hover {
  transform: scale(1.05);
}
.box h2 {
  font-family: "Oswald", sans-serif;
  font-size: 27px;
}
@media (max-width: 650px) {
  .box p{
    font-size: .6rem;
  }
  .box h2 {
    font-size: 1.3rem;
  }
}

.titleNumber {
  color: green;
}
